.search {
    position: relative;
    margin-top: 4px;
    padding: 0 86px 0 12px;

    &__input {
        width: 100%;
        height: 40px;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 40px;
        border: 1px solid #d2d2d2;
    }

    &__button {
        position: absolute;
        top: 0;
        right: 12px;
        width: 76px;
        height: 40px;
        font-size: 16px;
        .button();
        .button-right-radius();
    }

    &__cancel {
        display: none;
        width: 24px;
        height: 40px;
        position: absolute;
        right: 96px;
        top: 0;
        background: url(/assets/search-cancel.svg) center center no-repeat;
        background-size: 16px 16px;

        &-visible {
            display: block;
        }
    }

    &__dropdown {
        width: 100%;
        position: absolute;
        padding: 0;
        margin: 0;
        margin-top: 3px;
        left: 0;
        box-sizing: border-box;
        list-style-type: none;
        background: #fff;

        display: none;
        z-index: 100;

        &-item {
            line-height: 38px;
            padding: 0 28px;
            font-size: 16px;
            border-bottom: 1px solid #d2d2d2;
        }

        &-visible {
            display: block;
        }
    }
}
